/*****************/
/* VERSION 0.1.5 */
/*****************/
/*****************/
/* DEFAULT THEME */
/*****************/
:root {
  --vivaldi-safari-style-outline-color: #85b4fc;
  --vivaldi-safari-style-controls-width: 75px;
  /* Border colors */
  --vivaldi-safari-style-title-border-color-active: #aaaaaa;
  --vivaldi-safari-style-title-border-color-inactive: #dbdbdb;
  /******************/
  /* NAVIGATION BAR */
  /******************/
  /* Default Background color (gradiant) */
  --vivaldi-safari-style-bar-background-color-top: rgba(0,0,0,0);
  --vivaldi-safari-style-bar-background-color-bottom: rgba(0,0,0,0.1);
  /* Background color for private windows */
  --vivaldi-safari-style-bar-background-color-private: #636363;
  /* Max height of navigation bar */
  --vivaldi-safari-style-bar-height: 39px;
  /* Border colors */
  --vivaldi-safari-style-bar-border-color-active: #c1c2c2;
  --vivaldi-safari-style-bar-border-color-inactive: #dfdfdf;
  /********/
  /* TABS */
  /********/
  /* Max height of a tab */
  --vivaldi-safari-style-tab-height: 25px;
  /* Default background color (gradiant) */
  --vivaldi-safari-style-tab-background-color-top: var(--colorBgDark);
  --vivaldi-safari-style-tab-background-color-bottom: var(--colorBgDarker);
  /* Background active tab (gradiant) */
  --vivaldi-safari-style-tab-background-color-selected-top: rgba(0,0,0,0.075);
  --vivaldi-safari-style-tab-background-color-selected-bottom: rgba(0,0,0,0.1);
  /* Background inactive tab */
  --vivaldi-safari-style-tab-background-color-inactive: var(--vivaldi-safari-style-inactive);
  /* Button background hover on incative tab */
  --vivaldi-safari-style-tab-background-color-hover: #afafaf;
  /* Icon size of favicon, throbber, sound etc. */
  --vivaldi-safari-style-button-icon: 12px;
  /* Border colors */
  --vivaldi-safari-style-tab-border-color-active: rgba(0,0,0,0.075);
  --vivaldi-safari-style-tab-border-color-inactive: #dbdbdb;
  /* Colors e.g. for tabs or bookmarks */
  --vivaldi-safari-style-tab-color: hsl(240, 5%, 5%);
  --vivaldi-safari-style-tab-hover-color: #ffffff;
  --vivaldi-safari-style-tab-hover-background: #acadad;
  /********************/
  /* BUTTONS (URLBAR) */
  /********************/
  /* Button default size */
  --vivaldi-safari-style-button-width: 36px;
  --vivaldi-safari-style-button-height: 24px;
  /* Button background */
  --vivaldi-safari-style-button-background-active: var(--colorBg);
  --vivaldi-safari-style-button-background-inactive: var(--vivaldi-safari-style-inactive);
  /* Border color of buttons and urlbar */
  --vivaldi-safari-style-button-border-color: rgba(0,0,0,0.15);
  --vivaldi-safari-style-button-border-color-top: rgba(0,0,0,0.15);
  --vivaldi-safari-style-button-border-color-bottom: rgba(0,0,0,0.25);
  --vivaldi-safari-style-button-border-color-inactive: #c0c0c0;
  /* Font and icon color of buttons and urlbar */
  --vivaldi-safari-style-button-color: #5f5f5f;
  --tab-min-height: var(--vivaldi-safari-style-tab-height) !important;
  --space-above-tabbar: 0 !important;
  --toolbarbutton-vertical-text-padding: 4px !important;
}

/**************/
/* DARK THEME */
/**************/
#browser.mac.tabs-top {
  --radius: 5px !important;
  /*--colorAccentBgDarker: var(--vivaldi-safari-style-tab-border-color-active) !important;
  --colorBorder: var(--vivaldi-safari-style-tab-border-color-active) !important;*/
  --vivaldi-safari-style-bar-background-color: var(--colorAccentBg);
  --vivaldi-safari-style-tab-background-color-selected: var(--colorAccentBg);
  --vivaldi-safari-style-tab-background-color: var(--colorBg);
  --vivaldi-safari-style-button-background-active: var(--colorBgIntenser);
  --vivaldi-safari-style-button-border-color: rgba(0,0,0,0.175);
  --vivaldi-safari-style-button-border-color-top: rgba(0,0,0,0.15);
  --vivaldi-safari-style-button-border-color-bottom: rgba(0,0,0,0.25);
  --vivaldi-safari-style-button-color: var(--colorFg);
  --vivaldi-safari-style-button-nav-margin: -1px;
}
#browser.mac.tabs-top.color-behind-tabs-on {
  --vivaldi-safari-style-bar-background-color: var(--colorBgLight);
  --vivaldi-safari-style-tab-background-color-selected: var(--colorBgLight);
  --vivaldi-safari-style-tab-background-color: var(--colorAccentBg);
}
#browser.mac.tabs-top.theme-dark {
  --vivaldi-safari-style-button-background-active: var(--vivaldi-safari-style-tab-background-color) !important;
  --vivaldi-safari-style-button-border-color: var(--vivaldi-safari-style-button-background-active) !important;
  --vivaldi-safari-style-button-border-color-top: rgba(255,255,255,0.075);
  --vivaldi-safari-style-button-border-color-bottom: var(--vivaldi-safari-style-button-background-active);
  --vivaldi-safari-style-button-nav-margin: 1px;
}
#browser.mac.tabs-top.theme-dark .toolbar-extensions button[title="1Password"] img {
  filter: invert(100%);
}
#browser.mac.tabs-top #header {
  height: calc(var(--vivaldi-safari-style-bar-height) + var(--vivaldi-safari-style-tab-height) + 1px);
}
#browser.mac.tabs-top #header #titlebar {
  height: var(--vivaldi-safari-style-bar-height);
  background: var(--vivaldi-safari-style-bar-background-color) linear-gradient(to bottom, var(--vivaldi-safari-style-bar-background-color-top) 0%, var(--vivaldi-safari-style-bar-background-color-bottom) 100%) !important;
}
#browser.mac.tabs-top #header #titlebar .window-buttongroup {
  margin-left: 12px;
  margin-top: 12px !important;
  z-index: 5;
}
#browser.mac.tabs-top #header #tabs-container {
  position: relative;
  height: calc(var(--vivaldi-safari-style-tab-height) + 1px) !important;
  margin-top: var(--vivaldi-safari-style-bar-height);
  padding-top: 0 !important;
  padding-left: 0 !important;
  background-color: var(--vivaldi-safari-style-tab-background-color);
  background-image: linear-gradient(to bottom, var(--vivaldi-safari-style-tab-background-color-selected-bottom) 0%, var(--vivaldi-safari-style-tab-background-color-selected-bottom) 100%), linear-gradient(to bottom, var(--vivaldi-safari-style-tab-background-color-top) 0%, var(--vivaldi-safari-style-tab-background-color-selected-bottom) 100%) !important;
  /*var(--vivaldi-safari-style-tab-background-color) linear-gradient(to bottom, var(--vivaldi-safari-style-tab-background-color-top) 0%, var(--vivaldi-safari-style-tab-background-color-bottom) 100%) !important;*/
  box-shadow: none !important;
}
#browser.mac.tabs-top #header #tabs-container::before, #browser.mac.tabs-top #header #tabs-container::after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 1px;
  background-color: var(--vivaldi-safari-style-button-border-color-top);
  opacity: 0.75;
}
#browser.mac.tabs-top #header #tabs-container::before {
  top: -1px;
}
#browser.mac.tabs-top #header #tabs-container::after {
  bottom: 0;
  opacity: 0.3;
}
#browser.mac.tabs-top #header #tabs-container .resize {
  min-width: calc(100% + 38px);
}
#browser.mac.tabs-top #header #tabs-container .resize .tab-strip > *.toolbar {
  max-width: 25px;
}
#browser.mac.tabs-top #header #tabs-container .resize .tab-strip > * .tab {
  background: transparent !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-right: 1px solid var(--vivaldi-safari-style-tab-background-color-selected-top) !important;
  /*&:not(.active):hover {
      background-color: var(--colorImageBackgroundAlpha, var(--colorAccentBgAlpha)) !important;
  }*/
  box-shadow: none !important;
}
#browser.mac.tabs-top #header #tabs-container .resize .tab-strip > * .tab:not(.pinned) {
  padding-right: 10px;
}
#browser.mac.tabs-top #header #tabs-container .resize .tab-strip > * .tab.active {
  background: var(--vivaldi-safari-style-tab-background-color-selected) linear-gradient(to bottom, var(--vivaldi-safari-style-tab-background-color-selected-top) 0%, var(--vivaldi-safari-style-tab-background-color-selected-bottom) 100%) !important;
  height: calc(var(--vivaldi-safari-style-tab-height) + 1px) !important;
  border-right: 1px solid var(--vivaldi-safari-style-tab-background-color-selected-bottom) !important;
  box-shadow: inset 0 -1px 0 var(--vivaldi-safari-style-tab-background-color-selected-bottom) !important;
}
#browser.mac.tabs-top #header #tabs-container .resize .tab-strip > * .tab::before, #browser.mac.tabs-top #header #tabs-container .resize .tab-strip > * .tab::after {
  display: none !important;
}
#browser.mac.tabs-top #header #tabs-container .resize .tab-strip > * .tab .tab-header {
  flex: 0 0 var(--vivaldi-safari-style-tab-height);
  padding-top: 3px;
  padding-bottom: 3px;
}
#browser.mac.tabs-top #header #tabs-container .resize .tab-strip > * .tab .favicon {
  filter: drop-shadow(1px 0 0 rgba(246, 246, 246, 0.05)) drop-shadow(-1px 0 0 rgba(246, 246, 246, 0.05)) drop-shadow(0 1px 0 rgba(246, 246, 246, 0.05)) drop-shadow(0 -1px 0 rgba(246, 246, 246, 0.05)) !important;
}
#browser.mac.tabs-top #header #tabs-container .resize .tab-strip > * .tab .favicon img {
  border-radius: 2px;
}
#browser.mac.tabs-top #header #tabs-container .resize .tab-strip > * .tab .close {
  transform: scale(0.77) translate(-1px, 1px);
}
#browser.mac.tabs-top #header #tabs-container .resize .tab-position {
  overflow: hidden;
}
#browser.mac.tabs-top #header #tabs-container .button-toolbar.newtab {
  top: 0px !important;
  z-index: 9 !important;
}
#browser.mac.tabs-top #header #tabs-container .button-toolbar.newtab, #browser.mac.tabs-top #header #tabs-container .button-toolbar.newtab button {
  width: var(--vivaldi-safari-style-tab-height) !important;
  min-width: var(--vivaldi-safari-style-tab-height) !important;
  max-width: var(--vivaldi-safari-style-tab-height) !important;
  height: var(--vivaldi-safari-style-tab-height) !important;
  min-height: var(--vivaldi-safari-style-tab-height) !important;
  max-height: var(--vivaldi-safari-style-tab-height) !important;
}
#browser.mac.tabs-top #header #tabs-container .button-toolbar.newtab button {
  opacity: 0.75;
  transform: translateX(-1px);
}
#browser.mac.tabs-top #header #tabs-container .button-toolbar.newtab button svg {
  display: none !important;
}
#browser.mac.tabs-top #header #tabs-container .button-toolbar.newtab button::before, #browser.mac.tabs-top #header #tabs-container .button-toolbar.newtab button:hover::before, #browser.mac.tabs-top #header #tabs-container .button-toolbar.newtab button::after, #browser.mac.tabs-top #header #tabs-container .button-toolbar.newtab button:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(100% / 3);
  width: calc(100% / 3);
  height: 1px;
  background: var(--colorAccentFg) !important;
  opacity: 0.65;
}
#browser.mac.tabs-top #header #tabs-container .button-toolbar.newtab button::after, #browser.mac.tabs-top #header #tabs-container .button-toolbar.newtab button:hover::after {
  top: calc(100% / 3);
  left: calc(50% - 1px);
  width: 1px;
  height: calc(100% / 3);
}
#browser.mac.tabs-top #header #tabs-container .sync-and-trash-container {
  display: none !important;
}
#browser.mac.tabs-top #header #tabs-container .sync-and-trash-container button {
  z-index: 9 !important;
  overflow: hidden;
  transform: scale(0.7) translate(0px, -3px);
}
#browser.mac.tabs-top #header #tabs-container .sync-and-trash-container button, #browser.mac.tabs-top #header #tabs-container .sync-and-trash-container button svg {
  width: var(--vivaldi-safari-style-tab-height) !important;
  min-width: var(--vivaldi-safari-style-tab-height) !important;
  max-width: var(--vivaldi-safari-style-tab-height) !important;
  height: calc(var(--vivaldi-safari-style-tab-height) - 1px) !important;
  min-height: calc(var(--vivaldi-safari-style-tab-height) - 1px) !important;
  max-height: calc(var(--vivaldi-safari-style-tab-height) - 1px) !important;
}
#browser.mac.tabs-top #header #tabs-container .sync-and-trash-container button svg {
  --vivaldi-safari-style-trash-size: 24px;
  width: var(--vivaldi-safari-style-trash-size) !important;
  min-width: var(--vivaldi-safari-style-trash-size) !important;
  max-width: var(--vivaldi-safari-style-trash-size) !important;
  margin-top: -1px;
  opacity: 0.9;
}
#browser.mac.tabs-top.tabs-top #main > .toolbar-addressbar, #browser.mac.tabs-top.tabs-top #main > .toolbar-mainbar {
  margin-bottom: calc(var(--vivaldi-safari-style-tab-height) - 1px);
}
#browser.mac.tabs-top #main {
  height: calc(100% - var(--vivaldi-safari-style-bar-height) - var(--vivaldi-safari-style-tab-height) - 1px);
  width: 100%;
  overflow: initial;
  z-index: 10;
}
#browser.mac.tabs-top #main > .toolbar-addressbar, #browser.mac.tabs-top #main > .toolbar-mainbar {
  position: absolute;
  top: calc(6px - var(--vivaldi-safari-style-bar-height) - var(--vivaldi-safari-style-tab-height));
  width: calc(100% - var(--vivaldi-safari-style-controls-width));
  left: var(--vivaldi-safari-style-controls-width);
  padding-bottom: 1px;
  padding-right: 3px;
  background-color: transparent !important;
}
#browser.mac.tabs-top #main > .toolbar-addressbar.tabs-top, #browser.mac.tabs-top #main > .toolbar-mainbar.tabs-top {
  margin-bottom: calc(var(--vivaldi-safari-style-tab-height) - 1px);
}
#browser.mac.tabs-top #main > .toolbar-addressbar::after, #browser.mac.tabs-top #main > .toolbar-mainbar::after {
  bottom: 1px;
  z-index: 0;
  display: none;
}
#browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar, #browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar {
  background-color: transparent !important;
}
#browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar::after, #browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar::after {
  display: none;
}
#browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar .button-toolbar button, #browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar .button-toolbar button {
  margin-left: 0px;
  margin-right: 4px;
  width: var(--vivaldi-safari-style-button-width);
  height: var(--vivaldi-safari-style-button-height);
  background: var(--vivaldi-safari-style-button-background-active);
  border: 0.5px solid var(--vivaldi-safari-style-button-border-color) !important;
  border-top-color: var(--vivaldi-safari-style-button-border-color-top) !important;
  border-bottom-color: var(--vivaldi-safari-style-button-border-color-bottom) !important;
  border-radius: var(--radius) !important;
}
#browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar .button-toolbar button svg, #browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar .button-toolbar button img, #browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar .button-toolbar button svg, #browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar .button-toolbar button img {
  fill: var(--vivaldi-safari-style-button-color);
  max-height: 20px;
}
#browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar .button-toolbar button:disabled > *, #browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar .button-toolbar button:disabled > * {
  opacity: 0.45 !important;
}
#browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar .button-toolbar button svg, #browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar .button-toolbar button svg {
  opacity: 0.8;
}
#browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar:first-child .button-toolbar:first-child button, #browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar:first-child .button-toolbar:first-child button {
  margin-right: var(--vivaldi-safari-style-button-nav-margin);
}
#browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar:first-child .button-toolbar:first-child button, #browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar:first-child .button-toolbar:first-child button svg,
#browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar:first-child .button-toolbar:first-child + .button-toolbar button,
#browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar:first-child .button-toolbar:first-child + .button-toolbar button svg, #browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar:first-child .button-toolbar:first-child button, #browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar:first-child .button-toolbar:first-child button svg,
#browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar:first-child .button-toolbar:first-child + .button-toolbar button,
#browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar:first-child .button-toolbar:first-child + .button-toolbar button svg {
  width: calc(var(--vivaldi-safari-style-button-height) + 2px) !important;
  min-width: calc(var(--vivaldi-safari-style-button-height) + 2px) !important;
}
#browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar:first-child .button-toolbar:first-child button svg,
#browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar:first-child .button-toolbar:first-child + .button-toolbar button svg, #browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar:first-child .button-toolbar:first-child button svg,
#browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar:first-child .button-toolbar:first-child + .button-toolbar button svg {
  flex: 0 1 calc(var(--vivaldi-safari-style-button-height) + 2px);
  object-fit: cover;
}
#browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar.toolbar-extensions button img, #browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar.toolbar-extensions button img {
  transform: scale(0.86);
  /*filter: grayscale(100%);*/
}
#browser.mac.tabs-top #main > .toolbar-addressbar > .toolbar.toolbar-extensions .button-badge, #browser.mac.tabs-top #main > .toolbar-mainbar > .toolbar.toolbar-extensions .button-badge {
  box-shadow: none !important;
  text-shadow: none !important;
}
#browser.mac.tabs-top #main > .toolbar-addressbar .SiteInfoButton, #browser.mac.tabs-top #main > .toolbar-addressbar .private-window-indicator, #browser.mac.tabs-top #main > .toolbar-mainbar .SiteInfoButton, #browser.mac.tabs-top #main > .toolbar-mainbar .private-window-indicator {
  border-top-left-radius: calc(var(--radius) - 1px);
  border-bottom-left-radius: calc(var(--radius) - 1px);
  background-color: transparent !important;
}
#browser.mac.tabs-top #main > .toolbar-addressbar .SiteInfoButton.insecure, #browser.mac.tabs-top #main > .toolbar-mainbar .SiteInfoButton.insecure {
  fill: #db4437 !important;
}
#browser.mac.tabs-top #main > .toolbar-addressbar .button-toolbar > button, #browser.mac.tabs-top #main > .toolbar-mainbar .button-toolbar > button {
  border-width: 0;
}
#browser.mac.tabs-top #main > .toolbar-addressbar .button-toolbar > button .button-badge, #browser.mac.tabs-top #main > .toolbar-mainbar .button-toolbar > button .button-badge {
  height: 12px;
  width: 12px;
  min-width: 12px;
  font-size: 8px;
}
#browser.mac.tabs-top #main > .toolbar-addressbar .UrlBar-AddressField, #browser.mac.tabs-top #main > .toolbar-addressbar .addressfield, #browser.mac.tabs-top #main > .toolbar-addressbar .searchfield, #browser.mac.tabs-top #main > .toolbar-mainbar .UrlBar-AddressField, #browser.mac.tabs-top #main > .toolbar-mainbar .addressfield, #browser.mac.tabs-top #main > .toolbar-mainbar .searchfield {
  height: var(--vivaldi-safari-style-button-height);
  border: 0.5px solid var(--vivaldi-safari-style-button-border-color) !important;
  border-top-color: var(--vivaldi-safari-style-button-border-color-top) !important;
  border-bottom-color: var(--vivaldi-safari-style-button-border-color-bottom) !important;
  border-radius: var(--radius) !important;
  padding: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#browser.mac.tabs-top #main > .toolbar-addressbar .UrlBar-AddressField:focus-within, #browser.mac.tabs-top #main > .toolbar-addressbar .addressfield:focus-within, #browser.mac.tabs-top #main > .toolbar-addressbar .searchfield:focus-within, #browser.mac.tabs-top #main > .toolbar-mainbar .UrlBar-AddressField:focus-within, #browser.mac.tabs-top #main > .toolbar-mainbar .addressfield:focus-within, #browser.mac.tabs-top #main > .toolbar-mainbar .searchfield:focus-within {
  border-color: var(--vivaldi-safari-style-outline-color) !important;
  box-shadow: 0 0 0 1px var(--vivaldi-safari-style-outline-color) !important;
}
#browser.mac.tabs-top #main > .toolbar-addressbar .UrlBar-AddressField .button-toolbar button > svg, #browser.mac.tabs-top #main > .toolbar-addressbar .UrlBar-AddressField .button-toolbar button > span > svg, #browser.mac.tabs-top #main > .toolbar-addressbar .addressfield .button-toolbar button > svg, #browser.mac.tabs-top #main > .toolbar-addressbar .addressfield .button-toolbar button > span > svg, #browser.mac.tabs-top #main > .toolbar-addressbar .searchfield .button-toolbar button > svg, #browser.mac.tabs-top #main > .toolbar-addressbar .searchfield .button-toolbar button > span > svg, #browser.mac.tabs-top #main > .toolbar-mainbar .UrlBar-AddressField .button-toolbar button > svg, #browser.mac.tabs-top #main > .toolbar-mainbar .UrlBar-AddressField .button-toolbar button > span > svg, #browser.mac.tabs-top #main > .toolbar-mainbar .addressfield .button-toolbar button > svg, #browser.mac.tabs-top #main > .toolbar-mainbar .addressfield .button-toolbar button > span > svg, #browser.mac.tabs-top #main > .toolbar-mainbar .searchfield .button-toolbar button > svg, #browser.mac.tabs-top #main > .toolbar-mainbar .searchfield .button-toolbar button > span > svg {
  opacity: 0.8;
}
#browser.mac.tabs-top #main > .toolbar-addressbar .UrlBar-AddressField, #browser.mac.tabs-top #main > .toolbar-addressbar .addressfield, #browser.mac.tabs-top #main > .toolbar-mainbar .UrlBar-AddressField, #browser.mac.tabs-top #main > .toolbar-mainbar .addressfield {
  margin-left: 115px !important;
  margin-right: 115px !important;
}
#browser.mac.tabs-top #main > .toolbar-addressbar .OmniDropdown, #browser.mac.tabs-top #main > .toolbar-mainbar .OmniDropdown {
  z-index: 10000 !important;
  position: absolute !important;
  top: calc(var(--vivaldi-safari-style-bar-height) - 22px) !important;
  border: 2px solid var(--vivaldi-safari-style-outline-color);
  border-top: 0;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background-color: var(--colorBgIntenser);
  width: calc(100% + 3px);
  margin-left: -2px;
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.35) !important;
}
#browser.mac.tabs-top:not(.private) #main > .toolbar-addressbar .UrlBar-AddressField, #browser.mac.tabs-top:not(.private) #main > .toolbar-addressbar .addressfield, #browser.mac.tabs-top:not(.private) #main > .toolbar-addressbar .searchfield, #browser.mac.tabs-top:not(.private) #main > .toolbar-mainbar .UrlBar-AddressField, #browser.mac.tabs-top:not(.private) #main > .toolbar-mainbar .addressfield, #browser.mac.tabs-top:not(.private) #main > .toolbar-mainbar .searchfield {
  background: var(--vivaldi-safari-style-button-background-active) !important;
}
#browser.mac.tabs-top.fullscreen #titlebar .window-buttongroup {
  opacity: 1 !important;
}
#browser.mac.tabs-top.fullscreen #tabs-container .tab-strip {
  transform: none !important;
}
#browser.mac.tabs-top.fullscreen.mac-fullscreen-hover #header, #browser.mac.tabs-top.fullscreen.mac-fullscreen-hover .bookmark-bar, #browser.mac.tabs-top.fullscreen.mac-fullscreen-hover .toolbar-addressbar, #browser.mac.tabs-top.fullscreen.mac-fullscreen-hover #main > .toolbar-mainbar {
  transform: translateY(0) !important;
}
#browser.mac.tabs-top.fullscreen.mac-fullscreen-hover .toolbar-addressbar, #browser.mac.tabs-top.fullscreen.mac-fullscreen-hover .bookmark-bar, #browser.mac.tabs-top.fullscreen.mac-fullscreen-hover #main > .toolbar-mainbar {
  box-shadow: none !important;
}
#browser.mac.tabs-top.bookmark-bar-top {
  --vivaldi-safari-style-bookmarks-height: 28px;
}
#browser.mac.tabs-top.bookmark-bar-top #header {
  height: calc(var(--vivaldi-safari-style-bar-height) + var(--vivaldi-safari-style-tab-height) + 1px + var(--vivaldi-safari-style-bookmarks-height) - 1px);
}
#browser.mac.tabs-top.bookmark-bar-top #header #tabs-container {
  margin-top: calc(var(--vivaldi-safari-style-bar-height) + var(--vivaldi-safari-style-bookmarks-height) - 1px);
}
#browser.mac.tabs-top.bookmark-bar-top #main {
  height: calc(100% - var(--vivaldi-safari-style-bar-height) - var(--vivaldi-safari-style-tab-height) - var(--vivaldi-safari-style-bookmarks-height));
}
#browser.mac.tabs-top.bookmark-bar-top #main > .toolbar-addressbar, #browser.mac.tabs-top.bookmark-bar-top #main > .toolbar-mainbar {
  top: calc(7px - var(--vivaldi-safari-style-bar-height) - var(--vivaldi-safari-style-tab-height) - var(--vivaldi-safari-style-bookmarks-height));
}
#browser.mac.tabs-top.bookmark-bar-top #main .bookmark-bar {
  top: -54px;
  position: absolute;
  width: 100%;
  border-top: 1px solid var(--vivaldi-safari-style-tab-background-color-selected-bottom) !important;
  border-bottom: 1px solid var(--vivaldi-safari-style-tab-background-color-selected-bottom) !important;
  box-sizing: border-box;
}
#browser.mac.tabs-top.bookmark-bar-top #main .bookmark-bar button.chevron {
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  background: none;
}
#browser.mac.tabs-top.bookmark-bar-top #main .bookmark-bar button.chevron::before, #browser.mac.tabs-top.bookmark-bar-top #main .bookmark-bar button.chevron::after {
  content: "";
  border-left: 0 !important;
  border-bottom: 0 !important;
  width: 5px;
  height: 5px;
  position: absolute;
  transform: rotate(135deg);
  left: calc(50% - 2px);
  top: calc(50% - 3px);
  opacity: 0.6;
  box-shadow: inset 0 1px 0 black, inset 1px 0px 0px black;
}
#browser.mac.tabs-top.bookmark-bar-top #main .bookmark-bar button.chevron::after {
  left: calc(50% - 6px);
}
#browser.mac.tabs-top.bookmark-bar-top #main .bookmark-bar button.chevron svg {
  opacity: 0;
}
#browser.mac.tabs-top.bookmark-bar-top #main .bookmark-bar button > * {
  transform: translateY(-2px);
}
#browser.mac.tabs-top > .toolbar-statusbar {
  background-color: var(--colorBgLight);
  border-top: 1px solid var(--vivaldi-safari-style-button-border-color-top) !important;
}
#browser.mac.tabs-top > .toolbar-statusbar > * {
  transform: translateY(-1px);
}
#browser.mac.tabs-top.isblurred.dim-blurred {
  --vivaldi-safari-style-button-border-color: rgba(0,0,0,0.1);
  --vivaldi-safari-style-button-border-color-top: rgba(0,0,0,0.1);
  --vivaldi-safari-style-button-border-color-bottom: rgba(0,0,0,0.1);
}
#browser.mac.tabs-top.isblurred.dim-blurred .UrlBar-AddressField .UrlField, #browser.mac.tabs-top.isblurred.dim-blurred .addressfield .UrlField, #browser.mac.tabs-top.isblurred.dim-blurred .searchfield input, #browser.mac.tabs-top.isblurred.dim-blurred #tabs-container .tab .title {
  filter: opacity(0.5);
}

/*# sourceMappingURL=userChrome.css.map */
